* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0 90px 0 90px;
  background-color: #212121;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  height: 100px;
  text-align: right;
  background-color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  border-bottom: solid 1px #7E7E7E;
}
nav a:hover {
  color: #9882da;
}
nav a:active {
  color: #9882da;
}
nav a {
  color: #7E7E7E;
  text-decoration: none;
  font-size: 15px;
  margin-left: 62px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 95px;
  background-color: #212121;
  border-top: solid 1px #7E7E7E;
}
footer span {
  color: #9882da;
  background-color: #212121;
  *display: -webkit-box;
  *display: -ms-flexbox;
  *display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.intro {
  background-color: #212121;
  margin: 50px 0 50px 0;
}
.intro p {
  color: #7E7E7E;
  font-size: 20px;
}
.intro h1 {
  font-size: 80px;
  color: #9882da;
  text-align: start;
  margin-left: -715px;
}
.intro h1 #name {
  color: #9882da;
  font-size: 100px;
}
.intro .intro-img {
  width: 700px;
  height: 470px;
  float: right;
  margin-top: -490px;
  background-image: url("../images/intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  background-color: #212121;
  border-top: solid 1px #7E7E7E;
}
.title h2 {
  font-size: 45px;
  color: #9882da;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  margin-top: 30px;
}

.items {
  background-color: #212121;
  margin-top: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
.items .sub-sec {
  width: 300px;
  height: 350px;
  background-color: #212121;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 30px 0 30px;
  border: solid 1px #9882da;
}
.items .sub-sec a {
  text-decoration: none;
}
.items .sub-sec p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 20px;
  color: #7E7E7E;
  margin-top: 30px;
}
.items .sub-sec button {
  width: 120px;
  height: 40px;
  border: solid 1px #9882da;
  background-color: #9882da;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  color: #212121;
  margin-left: 90px;
  margin-top: 40px;
}
.items .sub-sec button:hover {
  background-color: #212121;
  border: solid 1px #9882da;
  color: #9882da;
  text-decoration: none;
}
.items .sub-sec .photo1 {
  width: 200px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
  margin-left: 50px;
  background-image: url("../images/ab.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 35px;
}
.items .sub-sec .photo2 {
  width: 200px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
  margin-left: 50px;
  background-image: url("../images/ga.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.items .sub-sec .photo3 {
  width: 200px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
  margin-left: 50px;
  background-image: url("../images/co.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 35px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 45px;
}
.gallery .photos1 {
  width: 250px;
  height: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 30px 0 30px;
  background-image: url("../images/Picture2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery .photos2 {
  width: 250px;
  height: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 30px 0 30px;
  background-image: url("../images/Picture4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery .photos3 {
  width: 250px;
  height: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 30px 0 30px;
  background-image: url("../images/ad_Castillo_Kiara.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 90px;
}
.gallery2 .photo4 {
  width: 400px;
  height: 250px;
  background-color: #212121;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 30px 0 30px;
  background-image: url("../images/Picture11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery2 .photo5 {
  width: 400px;
  height: 250px;
  background-color: #212121;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 30px 0 30px;
  background-image: url("../images/Picture15.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery2 .photo6 {
  width: 400px;
  height: 250px;
  background-color: #212121;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 30px 0 30px;
  background-image: url("../images/Picture6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 45px;
  color: #9882da;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px;
}

.personal {
  margin-top: 50px;
  border-top: solid 1px #7e7e7e;
}
.personal .gallery3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 45px;
}
.personal .gallery3 .foto1 {
  width: 250px;
  height: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 30px 0 30px;
  background-image: url("../images/20220418_173046.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.personal .gallery3 .foto2 {
  width: 250px;
  height: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 30px 0 30px;
  background-image: url("../images/photoedit (1).png");
  background-repeat: no-repeat;
  background-size: cover;
}
.personal .gallery4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}
.personal .gallery4 .foto4 {
  width: 400px;
  height: 250px;
  background-color: #212121;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 30px 0 30px;
  background-image: url("../images/motionlesinwhite.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.personal .gallery4 .foto5 {
  width: 400px;
  height: 250px;
  background-color: #212121;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 30px 0 30px;
  background-image: url("../images/blackveilbrides.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.personal .gallery4 .foto6 {
  width: 400px;
  height: 250px;
  background-color: #212121;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 30px 0 30px;
  background-image: url("../images/iceninekills.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 45px;
  color: #9882da;
  margin: 50px 0;
}

.contact {
  background-color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: #7e7e7e;
}
.contact input {
  background-color: #212121;
  width: 50%;
  font-size: 15px;
  padding: 16px 16px;
  border-bottom: solid 1px #9882da;
  margin-bottom: 20px;
  border-right: #212121;
}
.contact textarea {
  background-color: #212121;
  width: 50%;
  font-size: 15px;
  padding: 16px 16px;
  border: solid 1px #9882da;
  margin-bottom: 20px;
}
.contact button {
  width: 300px;
  height: 50px;
  color: #212121;
  font-size: 15px;
  background-color: #9882da;
  border: solid 1px #9882da;
  margin-bottom: 50px;
}
.contact button:hover {
  background-color: #212121;
  border: solid 1px #9882da;
  color: #9882da;
}

.subscribe {
  height: 50%;
  border-top: 1px solid #7E7E7E;
  border-bottom: 1px solid #7E7E7E;
  background-color: #212121;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 45px;
}
.subscribe .bg-subs {
  padding: 80px 0;
}
.subscribe p {
  text-align: center;
  font-size: 15px;
  padding-bottom: 16px;
  color: #7E7E7E;
}
.subscribe h3 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: #9882da;
}
.subscribe .subs-form {
  max-width: 750px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.subscribe .subs-form input {
  font-size: 15px;
  line-height: 22px;
  background-color: #212121;
  font-weight: 300;
  margin-bottom: 16px;
  padding: 15px 35px;
  border: solid 1px #9882da;
  margin: 0;
}
.subscribe .subs-form button {
  font-size: 15px;
  color: #212121;
  background-color: #9882da;
  border: 0;
  padding: 12px 25px;
  font-size: 15px;
}
.subscribe .subs-form button:hover {
  background-color: #212121;
  border: solid 1px #9882da;
  color: #9882da;
}

.about {
  margin: 60px 0 60px 0;
  background-color: #212121;
}
.about .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.about .main .photo {
  width: 540px;
  height: 550px;
  background-image: url("../images/me.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.about .main .about-text {
  width: 50%;
  padding-left: 50px;
  color: #7e7e7e;
  font-size: 15px;
}
.about .main .about-text button {
  margin-top: 20px;
  font-size: 15px;
  color: #212121;
  background-color: #9882da;
  border: 0;
  padding: 12px 25px;
  font-size: 15px;
}
.about .main .about-text button:hover {
  background-color: #212121;
  border: solid 1px #9882da;
  color: #9882da;
}
.about .main .about-text h2 {
  margin-top: 0px;
}

.container {
  border-top: solid 1px #7e7e7e;
  margin-bottom: 55px;
}
.container .tittle p {
  color: #7e7e7e;
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 50px;
}
.container .skill-main {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 20px;
}
.container .skill-main p {
  color: #7e7e7e;
}
.container .skill-main .skill-bar .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}
.container .skill-main .skill-bar .bar {
  width: 100%;
  height: 5px;
  position: relative;
  background-color: #9882da;
  margin-top: 5px;
  border-radius: 3px;
}
.container .skill-main .skill-bar .bar .span {
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #7e7e7e;
}
.container .skill-main .skill-bar .bar .span .html {
  width: 70%;
  height: 5px;
  background-color: #7e7e7e;
}
.container .skill-main .skill-bar .bar .span .css {
  width: 70%;
  background-color: #9882da;
}
.container .skill-main .skill-bar .bar .span .scss {
  width: 70%;
  background-color: #9882da;
}
.container .skill-main .skill-bar .bar .span .xd {
  width: 80%;
  background-color: #9882da;
}
.container .skill-main .skill-bar .bar .span .ai {
  width: 85%;
  background-color: #9882da;
}
.container .skill-main .skill-bar .bar .span .ps {
  width: 85%;
  background-color: #9882da;
}
/*# sourceMappingURL=styles.css.map */